body {
	margin: 0;
	padding: 0;
	width: auto;
	background: url(https://www.toptal.com/designers/subtlepatterns/patterns/concrete_seamless.png);
}
header {
	background: #ffffff;
	color: black;
	font-family: 'Georgia', 'Times', 'Times New Roman', 'Serif';
	position: relative;
	top: 0;
	width: 100%;
	float: left;
	border-bottom: 2px solid lightgrey;

}
.name {
	color: white;
	background: rgb(36, 130, 117);
	padding: 10px;
	margin: 0 0 0 8%;
	float: left;
	line-height: 200%
}

.p1 {
    border: none;
    color: lightgrey; 
    background-color:  lightgrey; 
    height: 3px; 
    margin:1% 5% 4% 5%;
}
.abm {
	color: rgb(36, 130, 117);
	padding-left: 5%
}
nav { 
	float: right;
	margin: 1.8% 24.5% 0 0%;
	color: lightgrey;
	/*'Arial', 'Helvetica Neue', Helvetica, sans-serif; choose one of*/ 
}

.a2 {
	padding-left: 4%;
}

.pic1 {
	float: left;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 3%;

}

.content1 {
	float: left;
	padding-left: 5%;
	padding-right: 5%;
}
.conme {
	color: rgb(36, 130, 117);
	text-align: center;
	
}
section{
		float: left;
  		margin: 3% 1.5% 0 8%;
  		width: 46%;
  		border: 1px solid #dddddd;
  		background-color: #ffffff;
  		line-height: 180%;
  	}
.contact {
		float: left;
  		margin: 3% 1.5% 0 8%;
  		width: 46%;
  		border: 1px solid #dddddd;
  		background-color: #ffffff;
  		line-height: 180%;
}
.txt {
	width: 100%;
	line-height: 180%;
}
.textarea {
	width: 101.1%;
	height: 80px;
    box-sizing: border-box;
    resize: none;
    padding: 0 0 53px 0;
    line-height: 1em

}
.sbtbutton {
	background: rgb(36, 130, 117);
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 10px

}
article 	{
		float: center;
		padding: 0 5% 2% 5%;
		font-family: 'Georgia', 'Times', 'Times New Roman', 'Serif';
		color: #777777;
	}
aside 	{
  		float: left;
  		margin: 3% 0 0 2%;
  		width: 18%;
  		border: 1px solid #dddddd;
  		background-color: #ffffff;
  		position: relative;
	}
.p2 {
	border: none; 
    color: #777777; 
    background-color: lightgrey;
    height: 1px; 
    margin: 2% 12% 8% 15%;
}

div {
	margin-left: 14%;
	margin-top: 0;
	margin-bottom: 8%
}
footer {
		position: fixed;
		bottom: 0;
		width: 100%;
		float: center;
		padding: 8px 0 8px 0;
		text-align: center;
		background-color: #666666;
		border: 8px solid rgb(36, 130, 117);
		border-right: 8px;
		border-bottom: 8px;
		border-left: 8px;

	}
.foot {
	color: lightgrey;
}